<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Highfield Cricket Club!</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span3">
          <img src="@routes.Assets.at("images/logo.jpeg")" alt="some_text">
          <ul class="nav nav-tabs nav-stacked">
            <li class="active">
              <a>Home</a>
            </li>
            <li>
              <a href="@routes.FrontEnd.matches()">Matches</a>
            </li>
            <li>
              <a href="@routes.FrontEnd.players()">Players</a>
            </li>
            <li>
              <a href="@routes.FrontEnd.list()">Lists</a>
            </li>
          </ul>
        </div>
        <div class="span9">
          <div>
            <h1 class="pagination-centered">Highfield Cricket Club</h1>
          </div>
          <p>
          <p>
            A BRIEF OVERVIEW - We are Southampton based and have 2 teams in the
            Hampshire Cricket League on Saturdays. Our First XI gained promotion
            as County 3 South league champions to County 2 in 2013 and our Second
            XI currently play in Regional Division 2 South West. Both teams play
            their matches at Hardmoor Sports Ground, voted HCL Ground of the Year
            2008 along with the top ground marks from opposition teams in for 2009,
            2010, 2011 & 2012. We play Evening League cricket throughout the
            summer in the Taurus Hampshire Border League and during the winter
            months we play in 2 Indoor Leagues, The SECL Indoor League at the Rose
            Bowl and the South Hants Indoor League at Fleming Park. We also have
            regular winter net sessions.
          </p>
          <p>
            We are always looking for new fun luvin' players and if you are
            looking for a new team to join, or just want to enjoy your cricket
            please contact us.
          </p>
          </p>
        </div>
      </div>
    </div>

    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

  </body>
</html>