@(matchId: String)(implicit req: RequestHeader)

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Highfield Cricket Club!</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" type="text/css" />
    <style>
      .table th, .table td {
        border-top: none;
        line-height: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span3">
          <img src="@routes.Assets.at("images/logo.jpeg")" alt="some_text">
          <ul class="nav nav-tabs nav-stacked">
            <li>
              <a href="@routes.FrontEnd.index()">Home</a>
            </li>
            <li class="active">
              <a>Matches</a>
            </li>
            <li>
              <a href="@routes.FrontEnd.players()">Players</a>
            </li>
            <li>
              <a href="@routes.FrontEnd.list()">Lists</a>
            </li>
          </ul>
        </div>
        <div class="span9" id="stuff">
          <div class="span9 pagination-centered">
            <div>
              <h1 class="pagination-centered">Highfield Cricket Club</h1>
            </div>
            <h3 id="versusdisplay">Highfield 1st XI v Hambledon 2nd XI</h3>
            <h4 class="text-success">Highfield 1st XI won by 5 wickets!</h4>
            <p id="datedisplay">
              Played at Hardmoor on Saturday 20th July 2013
            </p>
          </div>
          <div class="span9">
            <ul class="nav nav-tabs">
              <li class="active">
                <a id="firstinningsdisp" href="#firstinnings" data-toggle="tab">Hambledon 2nd XI Innings</a>
              </li>
              <li>
                <a id="secondinningsdisp" href="#secondinnings" data-toggle="tab">Highfield 1st XI Innings</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="firstinnings" class="tab-pane active">
                <h5>Batting</h5>
                <table id="firstinningsbatting" class="table">

                </table>
                <h5>Bowling</h5>
                <table id="firstinningsbowling" class="table">
                  <th><td>Overs</td><td>Maidens</td><td>Runs</td><td>Wickets</td></th>
                </table>
              </div>
              <div id="secondinnings" class="tab-pane">
                <h5>Batting</h5>
                <table id="secondinningsbatting" class="table">
                  <tr>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td>193</td>
                  </tr>
                </table>
                <h5>Bowling</h5>
                <table id="secondinningsbowling" class="table">
                  <th><td>Overs</td><td>Maidens</td><td>Runs</td><td>Wickets</td></th>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/model.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/view.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/view.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.JavaScript.javascriptRoutes"></script>
    <script>
            $(document).ready(
      function() {
      individualMatch(
      @matchId,
      function(data) {

      var dateDisplay = document.getElementById("datedisplay");
      writePlaceAndTime(data.venue, data.date, dateDisplay);

      var versusDisplay = document.getElementById("versusdisplay");
      writeVersus(data.team, data.opponent, versusDisplay);

      var firstInningsDisplay = document.getElementById("firstinningsdisp");
      var secondInningsDisplay = document.getElementById("secondinningsdisp");

      if(data.highfield_batted_first) {
      firstInningsDisplay.innerHTML = getHighfieldTeamName(data) + " Innings";
      secondInningsDisplay.innerHTML = getOppositionTeamName(data) + " Innings";
      } else {
      firstInningsDisplay.innerHTML = getOppositionTeamName(data) + " Innings";
      secondInningsDisplay.innerHTML = getHighfieldTeamName(data) + " Innings";
      }

      var firstinningstable = document.getElementById("firstinningsbatting");
      //jQuery("#firstinningsbatting tbody").empty();
      jQuery('#firstinningsbatting tr').not(function(){if ($(this).has('th').length){return true}}).remove();

      var secondinningstable = document.getElementById("secondinningsbatting");
      jQuery('#secondinningsbatting tr').not(function(){if ($(this).has('th').length){return true}}).remove();

      var firstinningsbowlingtable = document.getElementById("firstinningsbowling");
      jQuery('#firstinningsbowling tr').not(function(){if ($(this).has('th').length){return true}}).remove();

      var secondinningsbowlingtable = document.getElementById("secondinningsbowling");
      jQuery('#secondinningsbowling tr').not(function(){if ($(this).has('th').length){return true}}).remove();

      if(data.highfield_batted_first) {
      populateBattingTable(firstinningstable, data, true);
      populateBattingTable(secondinningstable, data, false);
      populateBowlingTable(firstinningsbowlingtable, data, false);
      populateBowlingTable(secondinningsbowlingtable, data, true);
      } else {
      populateBattingTable(firstinningstable, data, false);
      populateBattingTable(secondinningstable, data, true);
      populateBowlingTable(firstinningsbowlingtable, data, true);
      populateBowlingTable(secondinningsbowlingtable, data, false);
      }

      },
      null
      );
      }
      );
    </script>
  </body>
  </body>
</html>